---
name: Render Readme

on:
  workflow_call:
    secrets:
      BOT_APP_ID:
        description: The App ID of the GitHub App
        required: true
      BOT_APP_PRIVATE_KEY:
        description: The private key of the GitHub App
        required: true

jobs:
  render-readme:
    name: Render README
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1.11.0
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Setup Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: 3.x
          cache: pip

      - name: Install Python Requirements
        shell: bash
        run: pip install -r ./.github/scripts/requirements.txt && pip freeze

      - name: Render README
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
        shell: bash
        run: python ./.github/scripts/render-readme.py

      - name: Commit Changes
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
          FILE_TO_COMMIT: README.md
          DESTINATION_BRANCH: main
        run: |
          if git diff --name-only | grep -q "$FILE_TO_COMMIT"; then
            export TODAY=$(date -u '+%Y-%m-%d')
            export MESSAGE="chore: regenerate $FILE_TO_COMMIT for $TODAY [skip ci]"
            export SHA=$(git rev-parse $DESTINATION_BRANCH:$FILE_TO_COMMIT)
            export CONTENT=$(base64 -i $FILE_TO_COMMIT)
            gh api --method PUT /repos/:owner/:repo/contents/$FILE_TO_COMMIT \
                --field message="$MESSAGE" \
                --field content="$CONTENT" \
                --field encoding="base64" \
                --field branch="$DESTINATION_BRANCH" \
                --field sha="$SHA"
          fi
